<div>
<div>   
<table width="100%">  
    <br>
<tr>
<td>               
    <!-- <hr size="50%" color="Green"> -->
    <div style="text-align: center;">
<span class="label success">Apple</span>&nbsp;&nbsp;&nbsp;
<span class="label info">Noise</span>&nbsp;&nbsp;&nbsp;
<span class="label warning">Samsung</span>&nbsp;&nbsp;&nbsp;
<span class="label other">Honor</span>&nbsp;&nbsp;&nbsp;
<span class="label danger">Fossil</span>&nbsp;&nbsp;&nbsp;
<span class="label other1">Huawei</span>&nbsp;&nbsp;&nbsp;
<span class="label other2">Other</span>&nbsp;&nbsp;&nbsp;
<!-- <hr size="50%" color="Green"> -->
  
</div>
</td>

</tr>
 

        </table>

    </div>
    <div>
        <br>
<table border="0" cellspacing="0" 
cellpadding="0" width="100%" align="center">
    <tr bgcolor="aqua">
        <td>        
            <img [src]="img1" width="300px"/>
        <ul style="list-style:none;">
            <div>
            <li><b>Name:</b>Apple watch series 3</li>
            </div>
            <li><b>Description:</b>Swimproof</li>
            <li><b>Model Number:</b>MQL12HN/A</li>
            <li><b>Warranty</b> 2 years </li>
            <li><b>price: </b>22,900.00</li>
            <li ><b>Qty: </b> <input type="number" name="qty" id="1" width=10%/></li>
            <br> &nbsp;&nbsp;&nbsp;&nbsp;          <button class="btn btn-primary">Add to cart</button>    
        </ul>
          </td>
          <td>        
            <img [src]="img2" width="300px"/>
            <ul style="list-style:none;">
            <li><b>Name:</b>Noise NoiseFit Fusion</li>
            <li><b>Description:</b>24x7 heart rate</li>
            <li><b>Model Number:</b>AKL12HN/B</li>
            <li><b>Warranty</b> 3 years </li>
            <li><b>price: </b>6,999.00</li>
            <li><b>Qty:</b> <input type="number" name="qty" width=10%/>
 <br><br> &nbsp;&nbsp;&nbsp;&nbsp;          <button class="btn btn-primary">Add to cart</button>
            </ul>
        </td>
            <td>      
                <img [src]="img4" width="300px"/>
                <ul style="list-style:none;">
                <li><b>Name:</b>Fossil Sport Unisex Smartwatch</li>
                <li><b>Description:</b>Touch Screen</li>
                <li><b>Model Number:</b>FTW4021</li>
                <li><b>Warranty</b> 2 years </li>
                <li><b>price: </b>10,000.00</li>
                <li><b>Qty:</b> <input type="number" name="qty" width=10%/>
                    <br><br> &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Add to cart</button>     
                </ul>
            </td>
 
          </tr>
          
          <tr  bgcolor="aqua">

            <td>    
                <br><br>       
              <img [src]="img3" width="400px"/>
              <br>
              <ul style="list-style:none;">
              <li><b>Name:</b>Samsung Galaxy Watch 2</li>
              <li><b>Description:</b>Super AMOLED display</li>
              <li><b>Model Number:</b>QKL13TO/Z</li>
              <li><b>Warranty</b>2.5 years  </li>
              <li><b>price: </b>23,990.00</li>
              <li><b>Qty:</b> <input type="number" name="qty" width=10%/>
                <br><br> &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Add to cart</button>  
            </ul>
          </td>

            <td>        
                <img [src]="img5" width="300px"/>
                <ul style="list-style:none;">
                <li><b>Name:</b>Fossil Sport Unisex-2</li>
                <li><b>Description:</b>24 hour Battery Life</li>
                <li><b>Model Number:</b>FTE!021</li>
                <li><b>Warranty</b> 3 years </li>
                <li><b>price: </b>13,000.00</li>
                <li><b>Qty:</b> <input type="number" name="qty" width=10%/>
                    <br><br> &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Add to cart</button>         
                </ul>
            </td>

            <td>        
                <img [src]="img6" width="300px"/>
                <ul style="list-style:none;">
                <li><b>Name:</b>Honor Watch Magic</li>
                <li><b>Description:</b>7 Days Battery Life</li>
                <li><b>Model Number:</b>Talos-B19S</li>
                <li><b>Warranty</b> 2 years</li>
                <li><b>price: </b>7,000.00</li>
                <li><b>Qty:</b> <input type="number" name="qty" width=10%/>
                    <br><br> &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Add to cart</button>      
                </ul>
            </td>
        </tr >
        <tr bgcolor="aqua">
            <td>        
                <img [src]="img7" width="300px"/>
                <ul style="list-style:none;">
                <li><b>Name:</b>Huami Amazfit GTS</li>
                <li><b>Description:</b>1.65” AMOLED Display</li>
                <li><b>Model Number:</b>Talos-B29F</li>
                <li><b>Warranty</b>2.5 years</li>
                <li><b>price: </b>10,000.00</li>
                <li><b>Qty:</b> <input type="number" name="qty" width=10%/>
                    <br><br> &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Add to cart</button>         
                </ul>
            </td>

            <td>        
                <img [src]="img8" width="300px"/>
                <ul style="list-style:none;">
                <li><b>Name:</b>HUAWEI Watch GT 2</li>
                <li><b>Description:</b>5ATM Water Resistant</li>
                <li><b>Model Number:</b>Latona-B19S</li>
                <li><b>Warranty</b>3 years</li>
                <li><b>price: </b>15,000.00</li>
                <li><b>Qty:</b> <input type="number" name="qty" width=10%/>
                    <br><br> &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Add to cart</button>    
                </ul>
            </td>

            <td>        
                <img [src]="img9" width="300px"/>
                <ul style="list-style:none;">
                <li><b>Name:</b>Fossil Men's Gen 4 Explorist</li>
                <li><b>Description:</b>5ATM Water Resistant</li>
                <li><b>Model Number:</b>FTW4016</li>
                <li><b>Warranty</b>3 years</li>
                <li><b>price: </b>25,000.00</li>
                <li><b>Qty:</b> <input type="number" name="qty" width=10%/>
                    <br><br> &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary">Add to cart</button>    
                </ul>
            </td>
        </tr>

</table>
</div>

<div class="danger">
    
<font size="100">
    SMARTWATCHES<br> <br>
   
    *availabe at the best prices only here*</font>
    <br><br>
<font size="10"><br>
9876 Main Street ,suite 123,MainLand,ML12345
<br>phone 976654321</font><br>
<font size="10"><br>copyright @2020.All rights reserved</font>

</div>
</div>