<div>


<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> --> 
<!-- 
 <ul style="list-style:none;">
    <li style="float:left">
        <a class="btn btn-primary" href="/sign" target=" _self">signup</a>
    </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
   <li style="float:left"> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-primary" href="/log" target=" _self">login</a>
   </li>
</ul> -->

<br>
<div>
<div class="dropdown">
    <button class="dropbtn dropbtn-primary">User</button>
    <div class="dropdown-content" cellpadding="20px">
      <a href="/sign" class="btn btn-primary" style="text-decoration:none" target="_blank">Signup</a>
      <a href="/log" class="btn btn-primary" style="text-decoration:none" target="_blank" >Login</a>    
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
    <button class="adm"><a href="#"></a>Cart</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
    <div class="dropdown">
    <button class="dropbtn dropbtn-primary">Admin</button>
    <div class="dropdown-content" cellpadding="100px">
      <a href="/userd" class="btn btn-primary" style="text-decoration:none" target="_blank">UserDetails</a>
      <a href="/log" class="btn btn-primary" style="text-decoration:none" target="_blank" >Login</a>    
    </div></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    

    
    <!-- <a href="" class="adm1" style="text-decoration:none" target="_blank" >User Login data</a> -->
    <!-- <button>Admin</button> -->
</div>
</div>
<!-- <app-homepage></app-homepage> -->
<router-outlet></router-outlet>
